Source: python-rpclite-server
Section: misc
Priority: optional
Maintainer: Lars Ørum Rasmussen <ras@dmi.dk>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: python-rpclite-server
Architecture: any
Depends: python (>= 2.3), python-rpclite
Description: DMI/TI, an XML-RPC server.
 
